body {
    display: inline-block;
    text-align: center;
    font-family: Helvetica;
}

header {
    background-image: url(./resources/images/the-flatiron-building.png);
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

nav, li{
    font-size: 18px;
    color: white;
}

p {
    font-size: 14px;
}

footer {
    background-color: dimgray;
}