body {
    display: inline-block;
    text-align: center;
    font-family: Helvetica;
    background-color: gray;
}

header {
    background: url();
}

h1 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
    color: white;
}

h4 {
    font-size: 23px;
    font-weight: bold;
}

}

p {
    font-size: 14px;
}

footer {
    background-color: dimgray;
}

ul#navigation { 
    list-style-type: none;

}
.container {
    background: url("the-flatiron-building.png");
}